{% extends 'base.html' %}

{% block content %}
    <h2>Menu</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Availability</th>
            </tr>
        </thead>
        <tbody>
            {% for dish in menu %}
                <tr>
                    <td>{{ dish['id'] }}</td>
                    <td>{{ dish['name'] }}</td>
                    <td>{{ dish['price'] }}</td>
                    <td>{{ 'Yes' if dish['availability'] else 'No' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
