{% extends 'base.html' %}

{% block content %}
    <h2>Orders</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Customer Name</th>
                <th>Dish IDs</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order['id'] }}</td>
                    <td>{{ order['customer_name'] }}</td>
                    <td>{{ order['dish_ids'] }}</td>
                    <td>{{ order['status'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
