{% extends 'base.html' %}

{% block content %}
    <h2>Update Order Status</h2>
    <form method="post">
        <label for="status">Status:</label>
        <select name="status" id="status">
            <option value="received">Received</option>
            <option value="preparing">Preparing</option>
            <option value="ready for pickup">Ready for Pickup</option>
            <option value="delivered">Delivered</option>
        </select>
        <br>
        <input type="submit" value="Update">
    </form>
{% endblock %}
