body {
    font-family: sans-serif;
  }
  
  .container {
    border: 1px dashed;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .phone-pe-logo {
    width: 100%;
  }
  
  .main {
    padding: 32px;
  }
  
  .feedback-wrapper {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    flex-direction: column;
  }
  
  .feedback-img {
    width: 100%;
  }
  